---
import Main from "@/layouts/Main.astro";
import Image from "@/components/Image.astro";
---

<Main title="Inicio">
  <div class="container py-5">
    <Image name="logo.svg" class="navbar-logo mt-5" width={333} loading="lazy"></Image>
    <h1 class="mb-4">¡Hola desde Astro + SCSS!</h1>
    <p class="lead">Este es un ejemplo de estructura base con Astro, SCSS y Bootstrap 5.</p>
  </div>
</Main>
