---
const today = new Date();
import { SITE_SINCE, SITE_TITLE } from '@/consts';
---
<footer class="footer bg-primary text-white py-3">
    <div class="container"><p class="m-0">&copy;{SITE_SINCE} - {today.getFullYear()} {SITE_TITLE}</p></div>
</footer>

<style>
	
</style>
